* {
    margin: 0px;
    padding: 0px;
}

.button {
    width: 75px;
    height: 75px;
    font-size: 50px;
    margin: 2px;
    cursor: pointer;
    font-family: 'Lekton', sans-serif;
    background: rgb(40, 56, 80);
    color: white;
    border: none;
}

.textview {
    width: 307px;
    margin: 5px;
    font-size: 50px;
    padding: 5px;
    background: rgb(224, 225, 228);
    border: none;
    font-family: 'Lekton', sans-serif;
}

.button_0 {
    width: 156px;
}

.button_equal {
    height: 156px;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1{
    font-family: 'Homemade Apple';
    text-align: left;
    color: rgb(235, 235, 235);
}

body{
    background: black;
    height: 100%;
}